@import 'tailwindcss';

@plugin "@tailwindcss/typography";
/* 
If you want use the ThemeToggle component,
and chose the themes to light and dard,
move the --default and --prefersdark to the themes you want
and then update the the darkThemeName and lightThemeName
variables on ThemeToggle component with the new theme names.
The name should be the same as the theme name below.
*/
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark,
        synthwave,
        retro,
        valentine,
        dim;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

[data-theme='light'] .skill-badge {
    @apply badge-outline;
}

[data-theme='dark'] .skill-badge {
    @apply badge-soft;
}

.footer a {
    @apply link link-hover text-primary;
}

.certificate-card {
    @apply overflow-hidden transition-all duration-500 ease-in-out max-h-250 opacity-100;
}

.certificate-collapsed {
    @apply max-h-0 opacity-0 my-0! pointer-events-none;
}
